<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Sleepy Rush</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="content brillo-constante">
        <div style="text-align: center; font-size: xx-large; font-weight: bold;">
            <a class="animar-texto-blanco" href="https://itch.io/embed-upload/10584088?color=141414" target="_blank"
                rel="noopener noreferrer">PLAY NOW</a>
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">COLLECT CARDS</h1>
            <p>Each one has a unique art, story and effect in the game, with different tiers regarding their rarity and
                a mana cost.</p>
        </div>
        <div class="carta-container">
            <img class="carta sprite" src="{% static 'img/card1.png' %}" alt="Card 1">
            <img class="carta sprite" src="{% static 'img/card3.png' %}" alt="Card 2">
            <img class="carta sprite" src="{% static 'img/card4.png' %}" alt="Card 3">
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">SLAY MONSTERS</h1>
            <p>Until you acomplish your goal of scaping the nightmare.</p>
        </div>
        <div class="carta-container">
            <img class="carta sprite" src="{% static 'img/EnemySprites/tile004.png' %}" alt="Card 1"
                style="border: 0px;">
            <img class="carta sprite" src="{% static 'img/EnemySprites/tile005.png' %}" alt="Card 3"
                style="border: 0px;">
            <img class="carta sprite" src="{% static 'img/EnemySprites/tile006.png' %}" alt="Card 4"
                style="border: 0px;">
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">DON'T RUN OUT OF TIME</h1>
            <p>The nightmare is consuming you each second.</p>
        </div>
        <div class="carta-container">
            <img class="carta brillo sprite" src="{% static 'img/time.gif' %}" alt="Watch">
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">SUPPORT US</h1>
            <p>Play and look our itch.io if you want and try other projects we have done!.</p>
            <br>
            <iframe frameborder="0"
                src="https://itch.io/embed/2712313?border_width=0&amp;bg_color=222222&amp;fg_color=eeeeee&amp;link_color=ff265e&amp;border_color=222222"
                width="550" height="165" style="border-radius: 4px;">
                <a href="https://caffeeinewhore.itch.io/sleepy-rush">Sleepy Rush by caffeeinewhore</a>
            </iframe>
        </div>
    </div>
    <br>
    {% include 'footer.html' %}
</body>
<script src="{% static 'js/cartas3D.js' %}"></script>

</html>