{% load static %}

<br>
<div class="content brillo-constante">
    <div style="text-align: center;">
        <h1 class="animar-texto">CONTACT US</h1>
        <p>If you have any questions, feedback, or just want to say hi, feel free to reach out to us!</p>
        <p>Email: <a href="mailto:contact@sleepyrush.com" class="animar-texto">contact@sleepyrush.com</a></p>
        <p>Follow us on social media:</p>
        <p>
            <a href="https://twitter.com/sleepyRush" class="animar-texto" target="_blank">Twitter</a> |
            <a href="https://instagram.com/sleepyRush" class="animar-texto" target="_blank">Instagram</a>
        </p>
    </div>
</div>