{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cross-Origin-Embedder-Policy" content="credentialless">
    <title>Sleepy Rush</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartas3D.css' %}">
    <link rel="stylesheet" href="{% static 'css/brillo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animarTexto.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<nav class="side-navbar">
    <a class="nav-item brillo" href="{% url 'logout' %}">LOGOUT</a>
    <a class="nav-item brillo" href="{% url 'login' %}">LOGIN</a>
    <a class="nav-item brillo" href="{% url 'register' %}">REGISTER</a>
    <br>
    <br>
    <a class="nav-item brillo" href="{% url 'home' %}">HOME</a>
    <a class="nav-item brillo" href="{% url 'play' %}">PLAY</a>
    <a class="nav-item brillo" href="{% url 'stats' %}">STATS</a>
    <a class="nav-item brillo" href="{% url 'cards' %}">CARDS</a>
    <a class="nav-item brillo" href="{% url 'about' %}">ABOUT</a>
</nav>