{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleepy Rush</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img\favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartas3D.css' %}">
    <link rel="stylesheet" href="{% static 'css/brillo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animarTexto.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/formFilter.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<nav class="side-navbar">
    <div class="user-dropdown" class="nav-item">
        <button class="user-dropdown-btn nav-item brillo">
            <span class="material-icons">account_box</span> ACCOUNT
        </button>
        <div class="user-dropdown-content">
            {% if authenticated %}
            <a href="{% url 'logout' %}" class="brillo">
                <span class="material-icons">logout</span> Sign Out
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="brillo">
                <span class="material-icons">login</span> Sign In
            </a>
            <a href="{% url 'register' %}" class="brillo">
                <span class="material-icons">person_add</span> Sign Up
            </a>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
    <a class="nav-item brillo" href="{% url 'home' %}">
        <span class="material-icons">home</span> HOME
    </a>
    <a class="nav-item brillo" href="https://itch.io/embed-upload/10705446?color=141414" target="_blank" rel="noopener noreferrer">
        <span class="material-icons">sports_esports</span> PLAY
    </a>
    <a class="nav-item brillo" href="{% url 'stats' %}">
        <span class="material-icons">query_stats</span> STATS
    </a>
    <a class="nav-item brillo" href="{% url 'cards' %}">
        <span class="material-icons">style</span> CARDS
    </a>
    <a class="nav-item brillo" href="{% url 'about' %}">
        <span class="material-icons">help</span> ABOUT
    </a>
</nav>
