<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Card Collection</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">CARD GALLERY</h1>
            <p>These are all of the cards that you can obtain by playing the game.</p>
        </div>
        <div class="carta-container">
            <img class="carta sprite" src="{% static 'img/card1.png' %}" alt="Card 1">
            <img class="carta sprite" src="{% static 'img/card2.png' %}" alt="Card 2">
            <img class="carta sprite" src="{% static 'img/card3.png' %}" alt="Card 3">
            <img class="carta sprite" src="{% static 'img/card4.png' %}" alt="Card 4">
            <img class="carta sprite" src="{% static 'img/card5.png' %}" alt="Card 5">
            <img class="carta sprite" src="{% static 'img/card6.png' %}" alt="Card 6">
            <img class="carta sprite" src="{% static 'img/card7.png' %}" alt="Card 7">
            <img class="carta sprite" src="{% static 'img/card8.png' %}" alt="Card 8">
        </div>
    </div>
</body>
<script src="{% static 'js/cartas3D.js' %}"></script>
</html>