<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>User Stats</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content brillo-constante">
        <p>You need to log in in order to play the game on this web.</p>
        <hr>
        <br>
        <a href="{% url 'login' %}?next={{ request.path }}" class="animar-texto">Login</a> | <a
            href="{% url 'register' %}?next={{ request.path }}" class="animar-texto">Register</a>
    </div>
</body>

</html>