<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>About us</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content brillo-constante">
        <div style="text-align: center;">
            <h1 class="animar-texto">ABOUT US</h1>
            <p>These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.
            These are all of the cards that you can obtain by playing the game.</p>
            <br>
            <p>These are all of the cards that you can obtain by playing the game.
                These are all of the cards that you can obtain by playing the game.
                These are all of the cards that you can obtain by playing the game.
                These are all of the cards that you can obtain by playing the game.</p>
        </div>
    </div>
</body>
</html>