<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleepy Rush</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartas3D.css' %}">
    <link rel="stylesheet" href="{% static 'css/brillo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animarTexto.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content brillo-constante">
        ABOUT
    </div>
</body>
</html>