<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>About us</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="content brillo-constante">
        <div class="container-texto" style="text-align: center;">
            <h1 class="animar-texto">WHO WE ARE</h1>
            <p>We are a passionate and dedicated team of two final-year computer science students embarking on an
                exciting journey to create a unique and engaging video game as well as a complementary website for our
                final project.</p>
            <br>
            <p>Our team, though small in number, is big on creativity, innovation, and a shared love for
                gaming and technology.</p>
            <br>
            <p>We believe that our diverse skill sets and unwavering enthusiasm will enable us
                to bring our vision to life and deliver an experience that resonates with players and users alike.</p>
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div class="container-texto" style="text-align: center;">
            <h1 class="animar-texto">OUR GAME</h1>
            <p>Our video game is the culmination of months of brainstorming, designing, and coding.
            </p>
            <br>
            <p>It is an
                action-adventure game set in a fantastical world, where players embark on a thrilling quest filled with
                intriguing characters, challenging puzzles, and epic battles.</p>
            <br>
            <p>We have poured our hearts into every
                aspect of the game, from the storyline and character development to the graphics and sound design,
                ensuring that it provides a memorable and enjoyable experience for all who play it.</p>
        </div>
    </div>
    <br>
    <div class="content brillo-constante">
        <div class="container-texto" style="text-align: center;">
            <h1 class="animar-texto">THANK YOU</h1>
            <p>We would like to extend our heartfelt thanks to everyone who has supported us on this journey. From our
                professors and mentors to our friends and family, your encouragement and guidance have been invaluable.
            </p>
            <br>
            <p>We are also grateful to the gaming community for your interest and enthusiasm for our project. Your
                feedback and support inspire us to keep pushing forward and striving for excellence.</p>
            <br>
            <p>Thank you for visiting our website and taking the time to learn more about our project. We hope you
                enjoy playing our game as much as we have enjoyed creating it. Stay tuned for more updates, and we look
                forward to sharing our progress with you!</p>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>