@font-face {
    font-family: 'lain';
    src: url('fonts/lain.ttf');
}

* {
    font-family: 'lain', monospace;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0c0c;
    color: white;
    display: flex;
    align-items: center;
    min-height: 100vh; /* Añadido para ocupar al menos toda la altura de la ventana */
}

.carta {
    width: 150%;
    height: 150%; 
    transition: 0.3s;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
