<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>User Stats</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content brillo-constante">
        {% if authenticated %}
        <h1>Your Stadistics</h1>
        <hr>
        <br>
        <h2>Username: <strong>{{ userStats.user.username }}</strong></h2>
        <br>
        <div>
            <p><strong>Total playtime:</strong> {{ userStats.playtime }} h</p>
            <p><strong>Levels completed:</strong> {{ userStats.levels_completed }}</p>
            <p><strong>Enemies Killed:</strong> {{ userStats.killed }}</p>
            <p><strong>Deaths:</strong> {{ userStats.deaths }}</p>
        </div>
        <br>
        {% endif %}
        <h1>Worldwide Stadistics</h1>
        <hr>
        <br>
        <div>
            <p><strong>Total playtime:</strong> {{ worldwideStats.playtime }} h</p>
            <p><strong>Levels completed:</strong> {{ worldwideStats.levelsCompleted }}</p>
            <p><strong>Enemies Killed:</strong> {{ worldwideStats.kills }}</p>
            <p><strong>Deaths:</strong> {{ worldwideStats.deaths }}</p>
        </div>
        {% if not authenticated %}
        <br>
        <p>You need to log in in order to see your stats.</p>
        <hr>
        <br>
        <a href="{% url 'login' %}?next={{ request.path }}">Login</a> | <a
            href="{% url 'register' %}?next={{ request.path }}">Register</a>
        {% endif %}
    </div>
</body>

</html>