.carta-container {
    perspective: 100em;
}

.carta {
    margin: 2%;
    width: 20%;
    height: 20%;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;

    border: 6px solid #ffffff;
    border-radius: 28px;
}

.carta:hover {
    transition: 0.1s;
}

.tipo_damage {
    border: 6px solid #ff578a;
}

.tipo_tempo {
    border: 6px solid #57b3ff;
}

.tipo_especial {
    border: 6px solid #dbff57;
}